@{
    ViewData["Title"] = "Login";
    ViewData["HideNavbar"] = true;
    ViewData["HideFooter"] = true;
}

<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card" style="width: 300px; background-color: #d5dad9;">

        <div class="card-body text-center">
            <h2 style="color: #007BFF;">FlowStaff</h2>  

            <img src="~/favicon.ico" alt="Logo" class="mb-3" style="max-width: 80px; height: auto;" />

            <h2 class="card-title mb-4">Login</h2>
            <form method="post">
                <div class="mb-3 text-start">
                    <label for="username" class="form-label">Gebruikersnaam</label>
                    <input type="text" id="username" name="username" class="form-control" required />
                </div>
                <div class="mb-3 text-start">
                    <label for="password" class="form-label">Wachtwoord</label>
                    <input type="password" id="password" name="password" class="form-control" required />
                </div>
                <button type="submit" class="btn btn-login-custom w-100">Inloggen</button>
            </form>

            @if (ViewBag.Error != null)
            {
                <p class="text-danger mt-2">@ViewBag.Error</p>
            }
        </div>
    </div>
</div>
