@{
    ViewData["Title"] = "Over ons";
}
<h1>@ViewData["Title"]</h1>
<br>
<h2>Welkom bij FlowStaff! </h2>
Onze missie is om bedrijven te helpen bij het efficiënt beheren van hun medewerkers. 
    <br> Met onze gebruiksvriendelijke webapplicatie kun je eenvoudig medewerkers toevoegen, bewerken en beheren,  <br>
    zodat je altijd controle houdt over je team.
<br>
<br>
Wat maakt FlowStaff uniek?
<br>✅ Intuïtief design – Dankzij een overzichtelijke interface is FlowStaff makkelijk te gebruiken, zelfs zonder technische kennis.
<br>✅ Krachtige functies – Van invoervalidatie en zoekfilters tot een soft delete-functie waarmee je verwijderde medewerkers kunt herstellen.
<br>✅ Veilig en betrouwbaar – Beheer medewerkersgegevens met een veilige login en SQL-server database.
<br>✅ Altijd toegankelijk – Onze applicatie is volledig responsief, waardoor je deze op elk apparaat kunt gebruiken.
<br>
<br>
Ons doel <br>
We willen bedrijven helpen hun personeelsbeheer te stroomlijnen. Of je nu een klein team hebt of een groeiend bedrijf runt,
<br> FlowStaff zorgt ervoor dat je medewerkersgegevens altijd up-to-date zijn en gemakkelijk beheerd kunnen worden.

Wil je meer weten? Neem contact met ons op en ontdek hoe FlowStaff jouw bedrijf kan helpen! </p>
